<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
	</head>
	<body>
	<nav class="navbar navbar-light bg-dark">
	  <a class="navbar-brand">
	    <img src="/static/f5-networks-logo.png" width="5%" height="5%" class="d-inline-block align-top" alt="" align="left">
	    <span class ="title">SOC Dashboard</span>
	  	  </a>
	</nav>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="leyout.html">Phone Status</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="#">Add</a> 
	      <a class="nav-item nav-link active" href="#">DDOS<span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link" href="#">AF</a>
	      <a class="nav-item nav-link" href="#">WAF</a>
	      <a class="nav-item nav-link nav" href="#">Disabled</a>
	      <a class="nav-itme nav-link" href="#"><a>
	      <form action="/upload" method="post" enctype="multipart/form-data">
		      <input type="file" name="file">
		      <input type="submit" value="Submit">
	      </form>
	    </div>
	  </div>
	</nav>
	
	
	
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Placeholder</th>
      <th scope="col">Status</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
      {% block td %}
      {% endblock %}
  </tbody>
</table>
	</body>
</html>
