<!DOCTYPE html>
<html>
	<head>
		<title>Div example</title>
	<style>
		#one {
			font-size:30px;
		}
		#two {
			font-size:20px;
		}
		#three {
			text-color:red;
			font-size:10px;
		}
		.name {
			font-weight: bold;
		}
	</style>
	<body>
		<div id="one">
			This is the <span class="name">top</span> of this web page.
		</div>
		<div id="two">
			This is the <span class="name">middle</span> of this web page.
		</div>
		<div id="three">
			This is the <span class="name">bottom</span> of this web page
</html>
